---
layout: null
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body id="page-top">
        {% include navigation.html %}
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Synixe Contractors</h1>
                        <h2 class="text-tagline mx-auto mt-2 mb-5">Effective security and protection services for governments, corporations, and individuals. </h2>
                        <a class="btn btn-primary" href="https://synixe.link/discord">Join our Discord</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="services">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Our Services</h2>
                        <p class="text-white-50">
                            Synixe Contractors take part in a wide variety of operations for a wide variety of clientele.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-service">
                                    <div class="thumb">
                                        <img class="img-fluid" src="/assets/img/service_security.webp" alt="contractors patrol around a checkpoint" />
                                    </div>
                                    <div class="detail">
                                        <h4>Regional Security</h4>
                                        <p>
                                            Synixe contractors have provided security to corporations and governments in hostile regions.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-service">
                                    <div class="thumb">
                                        <img class="img-fluid" src="/assets/img/service_logistics.webp" alt="two HEMTTs carry construction equipment through a jungle" />
                                    </div>
                                    <div class="detail">
                                        <h4>High Risk Logistics</h4>
                                        <p>
                                            From moving cargo to installing temporary structures, our contractors operate in high risk environments before your staff arrive.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-service">
                                    <div class="thumb">
                                        <img class="img-fluid" src="/assets/img/service_personnel.webp" alt="a contractor talks with a man in a suit" />
                                    </div>
                                    <div class="detail">
                                        <h4>Personnel Protection</h4>
                                        <p>
                                            Our contractors have provided protection of personnel for corporations, governments, and embedded journalists.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-service">
                                    <div class="thumb">
                                        <img class="img-fluid" src="/assets/img/service_military.webp" alt="SUVs and a military truck cross a bridge" />
                                    </div>
                                    <div class="detail">
                                        <h4>Military Partners</h4>
                                        <p>
                                            We have partnered with nations to work alongside their forces, providing logistical and tactical support.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="workforus">
            <div class="container px-4 px-lg-5 text-synixe-gray">
                <div class="row gx-0 justify-content-center mb-4">
                    <div class="col-2">
                        <a class="btn btn-primary" href="/apply">Apply Now</a>
                    </div>
                </div>
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/assets/img/contractors_gear.webp" alt="4 different contractors" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Gear Shop</h4>
                            <p>
                                Our contractors get paid from contracts, then they buy and manage their own gear from the arsenal.
                                We have a wide variety of equipment, and contractors unlock more when they complete specialized training (Medic, Marksman, Engineer).
                            </p>
                            <p class="mb-0">
                                All gear is persistent.
                                Everything you take into the field needs to be brought back, or it is lost.
                                We work to recover our fallen teammate's gear to help them equip back up to join us at the next contract. 
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="/assets/img/contractors_teamwork.webp" alt="a group of contractors at a briefing" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Teamwork</h4>
                                    <p class="mb-0 text-white">
                                        We encourage our contractors to work together to solve the challenges they encounter.
                                        
                                        Our contractors don't have set teams and rotate who they are paired with.
                                        
                                        We continually improve our ability with debriefs and feedback after each contract.
                                        
                                        Every member is encouraged to share their challenges and triumphs.
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="/assets/img/contractors_specialized.webp" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Specialization</h4>
                                    <p class="mb-0 text-white">
                                        Our contractors have the ability to expand their skill set and provide specialized support to their team.
                                        Our training is flexible and provides a quick route to certifications for those joining with existing knowledge, or in-depth training for those learning a new skill.
                                        <br/>Some of our specialized roles include:
                                        <br/>Medic | Marksman | Autorifleman | Engineer
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0 justify-content-center mt-4">
                    <div class="col-2">
                        <a class="btn btn-primary" href="/apply">Apply Now</a>
                    </div>
                </div>
            </div>
        </section>
        {% include footer.html %}
    </body>
</html>
