<section class="contact-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white">Check us out around the internet!</h2>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://synixe.link/discord"><i class="fab fa-discord"></i></a>
                    <a class="mx-2" href="https://twitter.com/SynixePMC"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="https://github.com/SynixeContractors"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">Copyright &copy; Synixe Contractors 2022</div>
    <p>All images captured unstaged in missions.</p>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<!-- Core theme JS-->
<script src="/assets/js/scripts.js"></script>
